<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
	<div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 items-center">
		<h3 data-th-text="${name}"> Welcome</h3>
		<p class="text-1xl text-gray-500">Github: <span data-th-text="${git}"></span></p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			Voluptas ducimus velit sequi quas eaque dolore rem corrupti, atque
			similique soluta illo eum praesentium tempore. Culpa error
			consequatur delectus vel. Quas?
        </p>
		<button class="px-3 py-3 bg-green-500 rounded text-white hover:bg-blue-500 ">Click here</button>
	</div>
</body>
</html>