<!DOCTYPE html>
<html lang="en"
	th:replace="~{base :: parent(~{:: #content}, ~{:: #title}, ~{:: #scripts}, ~{})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="title">Home Page</title>
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
	rel="stylesheet" />
</head>
<body>
	<div id="content"
		class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 items-center">
		<h3 data-th-text="${name}">Welcome</h3>
		<p class="text-1xl text-gray-500">
			Github: <span data-th-text="${git}"></span>
		</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			Voluptas ducimus velit sequi quas eaque dolore rem corrupti, atque
			similique soluta illo eum praesentium tempore. Culpa error
			consequatur delectus vel. Quas?</p>
		<button
			class="px-3 py-3 bg-green-500 rounded text-white hover:bg-blue-500 ">Click
			here</button>
	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js">
	</script>
	<div id="scripts">
		<script>
				console.log("Home script");
		</script>
	</div>
</body>
</html>