<!DOCTYPE html>
<html lang="en"
	th:replace="~{base :: parent(~{:: #content}, ~{:: #title}, ~{:: #scripts}, ~{})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="title">Home Page</title>
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
	rel="stylesheet" />
</head>
<body>
	<div id="content">
		
	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js">
	</script>
	<div id="scripts">
		<script>
				console.log("Home script");
		</script>
	</div>
</body>
</html>